.zoom-container {
  position: relative;
  overflow: hidden;
  width: 580px;
  height: 580px;
}

.zoom-image {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

.zoom-container:hover .zoom-image {
  transform: scale(2);
}
